<%-include("partials/header");-%>
<body>
  <u1>
    <li><a href="/signin">회원가입</a></li>
    <li><a href="/login">로그인</a></li>
    <li><a href="/question">오늘의 질문</a></li>
    <li><a href="/calendar">캘린더</a></li>
  </u1>
</body>
<%-include("partials/footer");-%>
