<%-include("partials/header");-%>
<form action="/login" method="POST">
  <label for="name">Name</label>
  <input type="name" name="name" />
  <label for="email">Email</label>
  <input type="email" name="username" />
  <label for="password">Password</label>
  <input type="password" name="password" />
  <button type="submit">로그인</button>
</form>
<%-include("partials/footer");-%>
